.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 40vw;
    max-width: 90vw;
    padding: 2vh 2vw;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 10;
    top: 100%;
    left: 0;
    flex-direction: column;
    box-sizing: border-box;
}

.dropdown-content input {
    width: 100%;
    padding: 1vh 1vw;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dropdown-content button {
    width: 100%;
    padding: 1vh 0;
    margin: 5px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #f7f36d;
}

.dropdown-content button:hover {
    background: #fff27c;
}
